<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="http://localhost:8080/api/css/style.css">
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <header class="header">
        <nav>
            <ul>
                <li><a href="http://localhost:8080/register" id="register">Registro</a></li>
                <li><a href="http://localhost:8080/login" id="login">Login</a></li>
                <li><a href="http://localhost:8080/logout">Desloguearse</a></li>
                <li><a href="">Prueba2</a></li>
            </ul>
        </nav>
    </header>
    {{{body}}}
    <footer>
        <div>
            <h2>Hola, soy el footer</h2>
        </div>
    </footer>

</body>

</html>