<form>
    <div>
        <label for="username">Email: </label>
        <input type="text" id="user" name="username">
    </div>
    <div>
        <label for="password">Password: </label>
        <input type="text" id="pass" name="password">
    </div>

    <button id="loginSuccess">Enviar</button>

    <script src="../../../../js/login.js"></script>
</form>